<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>popular.com</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{>navbar}}
    <section class="mainCard">
    <div class="first" id="card">
        <h1 id="city1">Bangalore</h1>
        <span id="mainTemp1">0 <span><sup>o</sup>C</span></span>
        <span id="subTemp1" >0 <span><sup>o</sup>C</span> /0 <span><sup>o</sup>C</span></span>
    </div>
    <div class="secound" id="card">
        <h1 id="city2" >Tokyo</h1>
        <span id="mainTemp2">0 <span><sup>o</sup>C</span></span>
        <span id="subTemp2" >0 <span><sup>o</sup>C</span> /0 <span><sup>o</sup>C</span></span>
    </div>
    <div class="third" id="card">
        <h1 id="city3" >chicago</h1>
        <span id="mainTemp3">0 <span><sup>o</sup>C</span></span>
        <span id="subTemp3" >0 <span><sup>o</sup>C</span> /0 <span><sup>o</sup>C</span></span>
    </div>
    <div class="fourth" id="card">
        <h1 id="city4" >London</h1>
        <span id="mainTemp4">0 <span><sup>o</sup>C</span></span>
        <span id="subTemp4" >0 <span><sup>o</sup>C</span> /0 <span><sup>o</sup>C</span></span>
    </div>
    <div class="fifth" id="card">
        <h1 id="city5" >Berlin</h1>
        <span id="mainTemp5">0 <span><sup>o</sup>C</span></span>
        <span id="subTemp5" >0 <span><sup>o</sup>C</span> /0 <span><sup>o</sup>C</span></span>
    </div>
    <div class="sixth" id="card">
        <h1 id="city6" >New york</h1>
        <span id="mainTemp6">0 <span><sup>o</sup>C</span></span>
        <span id="subTemp6" >0 <span><sup>o</sup>C</span> /0 <span><sup>o</sup>C</span></span>
    </div>
    </section>
    {{>footer}}
    <script src="/js/popularcity.js"></script>
</body>
</html>